<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your MVP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/
      2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>

        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        /* Custom container */
        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }

        .container-narrow > hr {
            margin: 30px 0;
        }

        /* Main marketing message and sign up button */
        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }

        .jumbotron h1 {
            font-size: 72px;
            line-height: 1;
        }

        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }

        /* Supporting marketing content */
        .marketing {
            margin: 60px 0;
        }

        .marketing p + h4 {
            margin-top: 28px;
        }

    </style>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    {% block extrahead %}
    {% endblock %}
    <script type="text/javascript">
        $(function () {
            {% block jquery %}
            {% endblock %}
        });
    </script>
</head>

<body>

<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <h3><span class="fui-settings-16 muted">Your MVP!</span></h3>
    </div>

    <hr>

    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container-narrow">
        {% block content %}
        {% endblock %}
    </div>

    <hr>

    <div class="footer">
        <p>Copyright © 2014 <a href="http://www.yoursite.com">Your MVP</a>. Developed by <a
                href="http://realpython.com">Your Name Here</a>. Powered by Django.</P></p>
    </div>

</div>

</body>
</html>
